@use '@/styles/variables';

.card {
  display: flex;
  align-items: center;
  height: 100%;
  overflow-x: hidden;
}

.icon {
  font-size: 2.6rem;

  & > svg {
    display: block;
  }
}

.content {
  margin-left: 0.6rem;
}

.title {
  font-size: 1.2rem;
  font-weight: 600;
}

.subtitle {
  font-size: 0.85rem;
  color: variables.$color-gray-600;
}
