@use '@/styles/variables';
@use '@/styles/breakpoints';

.wrapper {
  padding: 2rem 0 2.5rem;
  background-color: variables.$color-gray-300;
}

.title {
  font-size: 1.2rem;
  font-weight: 800;

  @include breakpoints.media-up('sm') {
    font-size: 1.5rem;
  }
}

.items {
  margin-top: -1rem;
}

.item {
  margin-top: 2rem;
}
