// Override Bootstrap variables
$body-color: #212529;
$body-bg: #2e3842;

/* stylelint-disable value-keyword-case */
$font-family-sans-serif: -apple-system, 'BlinkMacSystemFont',
  'Hiragino Kaku Gothic ProN', 'Hiragino Sans', Meiryo, sans-serif,
  'Segoe UI Emoji';
$font-family-monospace:
  ui-monospace,
  SFMono-Regular,
  SF Mono,
  Menlo,
  Consolas,
  Liberation Mono,
  monospace;
/* stylelint-enable value-keyword-case */

// Colors
$color-gray-300: #e0e0e0;
$color-gray-400: #bdbdbd;
$color-gray-600: #757575;
$color-blue-gray-700: #455a64;
$color-indigo-400: #5c6bc0;
$deep-purple-200: #b39ddb;
