// Override Bootstrap variables
$body-color: #212529;
$body-bg: #2e3842;

/* stylelint-disable value-keyword-case */
$font-family-sans-serif: -apple-system, 'BlinkMacSystemFont',
  'Hiragino Kaku Gothic ProN', 'Hiragino Sans', Meiryo, sans-serif,
  'Segoe UI Emoji';
$font-family-monospace:
  ui-monospace,
  SFMono-Regular,
  SF Mono,
  Menlo,
  Consolas,
  Liberation Mono,
  monospace;
/* stylelint-enable value-keyword-case */

$link-color: #5c6bc0; // $color-indigo-400
$link-shade-percentage: 45%;
$input-bg: #fff;

// End of Bootstrap variables

// Fonts
$font-username: 'Open Sans', sans-serif;

// Colors
$color-gray-50: #fafafa;
$color-gray-300: #e0e0e0;
$color-gray-400: #bdbdbd;
$color-gray-600: #757575;
$color-gray-700: #616161;
$color-blue-gray-700: #455a64;
$color-indigo-50: #e8eaf6;
$color-indigo-400: #5c6bc0;
$deep-purple-200: #b39ddb;
