@use '@/styles/variables';

$border: 1px solid variables.$color-gray-300;

.wrapper {
  overflow-x: auto;
  white-space: nowrap;
}

.table {
  width: 100%;
  border-collapse: collapse;

  & > tbody > tr {
    &:nth-child(2n + 1) {
      background-color: rgb(0 0 0 / 3.75%);
    }

    & > td {
      padding: 0.75rem;
      border: $border;
    }
  }

  &.noVerticalDivider > tbody > tr > td {
    border-right: none;
    border-left: none;

    &:first-child {
      border-left: $border;
    }

    &:last-child {
      border-right: $border;
    }
  }
}
